h1.head {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  font-family: 'Lobster', cursive;
  color: white; }

.fullbg {
  background-color: #181818; }

body {
  padding: 0; }

div#card {
  border: solid #fff 2px;
  border-radius: 15px 15px 15px;
  padding: 5px;
  text-align: center;
  background-color: #282828;
  vertical-align: top;
  display: inline-block;
  color: white;
  height: 250px;
  width: 250px; }

#card h1 {
  font-size: 20px;
  padding: 5px;
  line-height: 35px; }

div.overall {
  padding: 0;
  width: 100%;
  text-align: center; }

div#card:hover {
  background-color: #fff;
  color: #181818;
  box-shadow: 5px 5px 5px 5px #888888;
  transform: scale(1.1); }

button {
  border: solid white 2px;
  border-radius: 15px 15px 15px;
  font-size: 15px;
  height: 15%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111; }

li h3 {
  color: #fff;
  margin-top: 10px;
  padding-left: 10px; }

li img {
  display: inline;
  margin-left: 920px;
  padding: 0;
  border-radius: 180px 180px 180px;
  width: 50px;
  height: 50px; }

li button {
  margin-top: 10px;
  margin-left: 30px; }
