a { color: inherit; }

h1.head {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  font-family: 'Lobster', cursive;
  color: white; }

.fullbg {
  background-color: #181818; }

body {
  padding: 0; }

div#card {
  border: solid #888888 1px;
  border-radius: 5px 5px 5px;
  padding: 10px;
  text-align: center;
  background-color: #181818;
  vertical-align: top;
  display: inline-block;
  color: white;
  height: 250px;
  width: 250px; }

#card h1 {
  font-size: 20px;
  margin-top: 30px;
  padding: 5px;
  line-height: 35px; }

div.overall {
  padding: 0;
  width: 100%;
  text-align: center; }

div#card:hover {
  color: #fff;
  box-shadow: 2px 2px 2px 2px black;
  transform: scale(1.1); }

/*25 Multicolour playlist hovers*/

div#card.one0:hover {
  background-color: red; }
div#card.one1:hover {
  background-color: blue;}
div#card.one2:hover {
  background-color: lime;}
div#card.one3:hover {
  background-color: gold;}
div#card.one4:hover {
  background-color: orange;}
div#card.one5:hover {
  background-color: blueviolet;}
div#card.one6:hover {
  background-color: deepskyblue;}
div#card.one7:hover {
  background-color: magenta;}
div#card.one8:hover {
  background-color: silver;}
div#card.one9:hover {
  background-color: turquoise;}
div#card.one10:hover {
  background-color: green;}
div#card.one11:hover {
  background-color: darksalmon;}
div#card.one12:hover {
  background-color: steelblue;}
div#card.one13:hover {
  background-color: sienna;}
div#card.one14:hover {
  background-color: tomato;}
div#card.one15:hover {
  background-color: pink;}
div#card.one16:hover {
  background-color: darkgreen;}
div#card.one17:hover {
  background-color: lightcoral;}
div#card.one18:hover {
  background-color: rosybrown;}
div#card.one19:hover {
  background-color: peru;}
div#card.one20:hover {
  background-color: black;}
div#card.one21:hover {
  background-color: midnightblue;}
div#card.one22:hover {
  background-color: dimgray;}
div#card.one23:hover {
  background-color: aquamarine;}
div#card.one24:hover {
  background-color: wheat;}

button {
  border: solid white 2px;
  border-radius: 5px 5px 5px;
  margin-top: 20px;
  font-size: 15px;
  height: 15%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111; }

li h3 {
  color: #fff;
  margin-top: 10px;
  padding-left: 10px; }

li img {
  display: inline;
  margin-left: 850px;
  padding: 0;
  border-radius: 180px 180px 180px;
  width: 50px;
  height: 50px; }

li button {
  margin-top: 10px;
  margin-left: 30px; }