h1.head {
  text-align: center;
  font-size: 50px;
  color: white;
}
div#card {
  border: solid #fff 2px;
  border-radius: 50px 50px 50px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: 30px;
  color: white;
  height: 250px;
  width: 250px;
}
div#card:hover {
transform: scale(1.1);
}
button {
  border: solid white 2px;
  font-size: 15px;
  height: 15%;
}
